.container {
  display: flex;
  position: relative;
  padding-left: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 512px) {
  .container {
    padding-left: 17px !important;
  }

  .checkmark {
    height: 12px !important;
    width: 12px !important;
  }

  .container .checkmark:after {
    left: 3.5px !important;
    top: 0px !important;
    width: 4px !important;
    height: 9px !important;
    border: solid white !important;
    border-width: 0 2px 2px 0 !important;
  }
}

.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 0.5px solid #d3b9a2;
  border-radius: 3px;
  cursor: pointer;
}

/* .container:hover input ~ .checkmark {
  background-color: #fff;
} */

.container input:checked ~ .checkmark {
  background-color: #d3b9a2;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 4.5px;
  top: 0.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
